html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
  outline: none;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#map_canvas {
  height: 100%;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
#pac-input:focus {
  border-color: #4d90fe;
}
#near-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 100px;
}
#near-input:focus {
  border-color: #4d90fe;
}
#countries {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 100px;
}
#mode {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 100px;
}
#listing-panel {
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#right-panel{
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel a {
  display: block;
  text-decoration: none;
  clear: both;
}
#right-panel.hidden {
  display: none;
}
#right-panel.shown {
  display: block;
}
#right-panel select, #right-panel input {
  font-size: 15px;
}
#right-panel select {
  width: 100%;
}
#right-panel i {
  font-size: 12px;
}
#directionSteps {
  clear: both;
  widht: 100%;
  height: 100%;
}
#listing-panel {
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto;
}
#listing-panel.hidden {
  display: none;
}
#listing-panel.shown {
  display: block;
}
#right-panel {
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto;
}
#listing-panel p {font-size: 13px; color: #999}
#right-panel p {font-size: 13px; color: #999}
#map_canvase {
  margin-right: 400px;
}
.dir_start {
	font-weight: bold; padding: 5px; background: #E47D25; color: #fff;
}
.dir_end {
	font-weight: bold; padding: 5px; background: #C16417; color: #fff;
}
.dir_summary {
	padding: 5px;
}
.dir_row{
	font-size: 14px;
	padding-right: 10px;
}
.dir_sprite{
	width:	20px;
	height:	20px;
	display: block;
}
table {
  font-size: 12px;
}
.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}
.hotelIcon {
  width: 24px;
  height: 24px;
}
#resultsTable {
  cursor: pointer;
  border-collapse: collapse;
  width: 320px;
}
.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}
.iw_table_icon {
  text-align: right;
}
.destroy {
  float: right;
	/*display: none;*/
	/*position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;*/

	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 22px;
	color: #a88a8a;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.destroy:hover {
  text-shadow: 0 0 1px #000,
				 0 0 10px rgba(199, 107, 107, 0.8);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.destroy:after {
  content: '✖';
}
/*.turn-sharp-left{ background: url('images/maneuvers-new.png') 0px 0px ;	}
.turn-sharp-right{ background: url('images/maneuvers-new.png') 0px -20px ; }
.turn-left{	background: url('images/maneuvers-new.png') 0px -40px ;	}
.turn-right{ background: url('images/maneuvers-new.png') 0px -60px ; }
.turn-slight-left{ background: url('images/maneuvers-new.png') 0px -80px ; }
.turn-slight-right{	background: url('images/maneuvers-new.png') 0px -100px ; }
.ramp-left{	background: url('images/maneuvers-new.png') 0px -120px ; }
.ramp-right{ background: url('images/maneuvers-new.png') 0px -140px ; }
.fork-left{	background: url('images/maneuvers-new.png') 0px -160px ; }
.fork-right{ background: url('images/maneuvers-new.png') 0px -180px ; }
.straight{ background: url('images/maneuvers-new.png') 0px -200px ; }
.merge{ background: url('images/maneuvers-new.png') 0px -220px ; }
.roundabout-left{ background: url('images/maneuvers-new.png') 0px -240px ; }
.roundabout-right{ background: url('images/maneuvers-new.png') 0px -260px ; }*/
