html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#map_canvas {
  height: 100%;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
#pac-input:focus {
  border-color: #4d90fe;
}
#near-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}
#near-input:focus {
  border-color: #4d90fe;
}
#countries {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 100px;
}
#right-panel{
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#right-panel select, #right-panel input {
  font-size: 15px;
}
#right-panel select {
  width: 100%;
}
#right-panel i {
  font-size: 12px;
}
#right-panel {
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto;
}
#map_canvase {
  margin-right: 400px;
}
.dir_start {
	font-weight: bold; padding: 5px; background: #E47D25; color: #fff;
}
.dir_end {
	font-weight: bold; padding: 5px; background: #C16417; color: #fff;
}
.dir_summary {
	padding: 5px;
}
.dir_row{
	font-size: 14px;
	padding-right: 10px;
}
.dir_sprite{
	width:	20px;
	height:	20px;
	display: block;
}
/*.turn-sharp-left{ background: url('images/maneuvers-new.png') 0px 0px ;	}
.turn-sharp-right{ background: url('images/maneuvers-new.png') 0px -20px ; }
.turn-left{	background: url('images/maneuvers-new.png') 0px -40px ;	}
.turn-right{ background: url('images/maneuvers-new.png') 0px -60px ; }
.turn-slight-left{ background: url('images/maneuvers-new.png') 0px -80px ; }
.turn-slight-right{	background: url('images/maneuvers-new.png') 0px -100px ; }
.ramp-left{	background: url('images/maneuvers-new.png') 0px -120px ; }
.ramp-right{ background: url('images/maneuvers-new.png') 0px -140px ; }
.fork-left{	background: url('images/maneuvers-new.png') 0px -160px ; }
.fork-right{ background: url('images/maneuvers-new.png') 0px -180px ; }
.straight{ background: url('images/maneuvers-new.png') 0px -200px ; }
.merge{ background: url('images/maneuvers-new.png') 0px -220px ; }
.roundabout-left{ background: url('images/maneuvers-new.png') 0px -240px ; }
.roundabout-right{ background: url('images/maneuvers-new.png') 0px -260px ; }*/
